<!DOCTYPE html>
<html lang="en">
<head>
	<link href="css/style.css" rel="stylesheet" >
  <meta charset="utf-8" >
	<title>Kate's Recipes</title>
</head>
<body>
<div id="wrapper">
<div id="header">
  <h1>Kate's Recipes</h1>
</div> <!--header-->
<div id="content">
  <!--List all recipes-->
  <ul class="index">
    <% each_recipe.each_with_index do |recipe, i| %>
      <% if i == 0 || recipe[3] != each_recipe[i-1][3] %>
        <li class="category"><%= recipe[3] %></li>
      <% end %>
      <li class="recipe"><a href="recipe_pages/<%= recipe[1] %>_<%= recipe[2] %>.html"><%= recipe[0] %></a> From: <span><%= recipe[4] %></span><% if recipe[5] != nil %>; <%= recipe[5] %> stars<% end %></li>
    <% end %>
  </ul>
  <div class="aside index_aside"><p><strong>Want to create a shopping list for multiple recipes?</strong> It's easy! Just navigate your terminal window to the recipes folder and run "ruby lib/create_shopping_list.rb". It will ask which recipes you want to create a list for and combine all ingredients into one handy list!</p><br/>
  <p><strong>Want to coook with certain ingredients and not others?</strong> Maybe you have some ground beef you want to use up but you know you're out of sour cream. Which recipes can you make?? Navigate your terminal window to the recipes folder and run "ruby lib/search_recipes.rb". Voila!</p><br/>
  <p><strong>Want to add another recipe?</strong> Navigate that good old terminal window to the recipes folder and run "ruby lib/add_recipe.rb". It will ask you all kinds of questions about your recipe and ingredients and when you're done your recipe will magically show up here!</p><br/>
  <p><strong>Does your recipe serve 4 but you need to serve 6?</strong> Does your recipe make 2 loaves but you only have ingredients for 1? Multiply it! Okay, divide it, but run "ruby lib/multiply_recipe.rb", tell it which recipe to act on, how much you want to multiply and it will give you a new list of ingredients!</p></div>
</div><!--content-->
<div id="footer">
  <ul><li>Created by <a href="http://katemcfaul.com" target=_blank >Kate McFaul</a></li></ul>
</div><!--footer-->
</div><!--wrapper-->
</body>
</html>